aclocal.m4
autom4te.cache
Makefile.in
Makefile
ltmain.sh
stamp-h1
.deps
.libs
*.o
*.lo
*.la
libtool
*.pc
config.log
config.status
config.guess
config.h
config.h.in
config.sub
config
configure
m4
build
*~
tests/testlib.c
*_test
*_ptest